*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  width: 0;
  height: 1px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(114, 113,113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}
  



.nav__header{
  background-color: rgb(253, 253, 253);
}


.logo{
cursor: pointer;
}

.form{
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 30px;
  padding: 0 10px;
  border: 1px solid rgb(172, 172, 172);
}

.form__input{
  height: 35px;  
  width: 400px;
  border: none;
  padding-right: 10px;
  padding-top: 2px;
  font-size:16px;
  border-right: 1px solid rgb(172, 172, 172);
  outline: none;
}
.form__search{
  margin-left: 8px;
  padding: 10px;

}

::placeholder{
  font-size: 16px;
}

.category__header{
  display: flex;
  align-items: center;
  overflow-x: scroll;
  width: 100%;
}

.category__btn{
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border: none;
  margin: 0 6px;
  cursor: pointer;
  font-weight: 600;
  width: 140px;
  background: transparent;
  border-radius: 7px;
}

.video__header{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.video__inner_img{
  border-radius: 10px;
}

.video__inner_img img {
  width: 100%;
}

@media only screen and (max-width:1255px) {
  .video__header{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width:1045px) {
  .video__header{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width:700px) {
  .video__header{
    grid-template-columns: repeat(1, 1fr);
  }

  .video__inner_img img {
    width: 500px;
  }
}



.videoDetail__container{
display: flex;

}


